:root {
  --small: 12px;
  --tiny: 9px;
  --medium: 16px;
  --big: 24px;
  --primary-green: #1db954;
  --green-hover: #1ed760;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover-text:hover{
  color: white !important;
  cursor: pointer;
}

